.place__flex-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media screen and (max-width: 620px) {
    .place__flex-row {
        flex-direction: column;
        justify-content: flex-start;
    }
}