.place__website {
  align-self: flex-end;
  padding-bottom: 48px;
  width: calc(50% - 20px);
}

@media screen and (max-width: 620px) {
  .place__website {
    margin-left: 0;
    padding-bottom: 32px;
    width: calc(100% - 16px);
  }
}