.cover__item {
    background-image: url(../../../images/cover.png);
    background-size: cover;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
}

.cover__item::before {
    content: '';
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
}

.cover__item:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__item {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__item {
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__item {
        min-height: 200px;
    }
}